<option value="radius" {% if preference.default_bone == "radius" %}selected{% endif %}>桡骨</option>
<option value="ulna" {% if preference.default_bone == "capitate" %}selected{% endif %}>头状骨</option>
<option value="ulna" {% if preference.default_bone == "hamate" %}selected{% endif %}>钩骨</option>
<option value="first-metacarpal" {% if preference.default_bone == "first-metacarpal" %}selected{% endif %}>第一掌骨</option>
<option value="third-metacarpal" {% if preference.default_bone == "third-metacarpal" %}selected{% endif %}>第三掌骨</option>
<option value="fifth-metacarpal" {% if preference.default_bone == "fifth-metacarpal" %}selected{% endif %}>第五掌骨</option>
<option value="first-proximal-phalange" {% if preference.default_bone == "first-proximal-phalange" %}selected{% endif %}>第一近节指骨</option>
<option value="third-proximal-phalange" {% if preference.default_bone == "third-proximal-phalange" %}selected{% endif %}>第三近节指骨</option>
<option value="fifth-proximal-phalange" {% if preference.default_bone == "fifth-proximal-phalange" %}selected{% endif %}>第五近节指骨</option>
<option value="third-middle-phalange" {% if preference.default_bone == "third-middle-phalange" %}selected{% endif %}>第三中节指骨</option>
<option value="fifth-middle-phalange" {% if preference.default_bone == "fifth-middle-phalange" %}selected{% endif %}>第五中节指骨</option>
<option value="first-distal-phalange" {% if preference.default_bone == "first-distal-phalange" %}selected{% endif %}>第一远节指骨</option>
<option value="third-distal-phalange" {% if preference.default_bone == "third-distal-phalange" %}selected{% endif %}>第三远节指骨</option>
<option value="fifth-distal-phalange" {% if preference.default_bone == "fifth-distal-phalange" %}selected{% endif %}>第五远节指骨</option>