{% load BoneAge_global_tags %}
<tbody>
    {% for task in task_list %}
        <tr id="evaluator_{{task.id}}">
            <td>{{task.id}} {% if task.marked %}<i class='bi bi-star-fill text-warning'></i>{% endif %}</td>
            <td><a href="{% url 'BoneAge_patient_profile' task.dcm_file.base_dcm.patient.id %}?info_tab=BoneAge&back_page={% if is_finished %}BoneAge_finished_tasks{% else %}BoneAge_index{% endif %}&args={{page_number}}&else_get=order%3D{{order}}%26is_descend%3D{{is_descend}}">
                {{task.dcm_file.base_dcm.patient.name}}
            </a></td>
            <td>{{task.dcm_file.base_dcm.patient.Patient_ID}}</td>
            <td>
                {{task.dcm_file.base_dcm.patient.get_sex_display}}
                {% if task.dcm_file.base_dcm.patient.sex == 'Female' %}
                    <i class="bi bi-gender-female" style="color:DeepPink"></i>
                {% else %}
                    <i class="bi bi-gender-male" style="color:DodgerBlue"></i>
                {% endif %}
            </td>
            <td>{{task.dcm_file.base_dcm.patient.birthday|get_dcm_age:task.dcm_file.base_dcm.Study_Date|floatformat}}</td>
            <td>{% if task.dcm_file.base_dcm.Study_Date %}
                    {{task.dcm_file.base_dcm.Study_Date|date:"Y-n-j"}}
                {% else %}
                未知
                {% endif %}
            </td>
            {% if tasks_finished %}
                <td>{{task.closed_date|date:"Y-n-j H:i"}}</td>
            {% endif %}
            <td>{{task.allocated_datetime|date:"Y-n-j H:i"}}</td>
            <td>
                {% if task.history > 0 %}
                    <a href="{% url 'BoneAge_patient_profile' task.dcm_file.base_dcm.patient.id %}?info_tab=BoneAge&back_page={% if is_finished %}BoneAge_finished_tasks{% else %}BoneAge_index{% endif %}&args={{page_number}}&&else_get=order%3D{{order}}%26is_descend%3D{{is_descend}}" class="bi bi-clock-history" style="font-size:1.2rem">：{{task.history}}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>