<small id="bone_discription_text_radius_0">骨化中心未出现</small>
<small id="bone_discription_text_radius_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_radius_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_radius_3">呈楔形，桡侧端厚而圆，尺侧端薄而尖</small>
<small id="bone_discription_text_radius_4">远侧缘可区分掌侧面和 背侧面</small>
<small id="bone_discription_text_radius_5">近侧端可区分掌侧面和 背侧面</small>
<small id="bone_discription_text_radius_6">尺侧缘可分区为掌侧面和背侧面</small>
<small id="bone_discription_text_radius_7">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_radius_8">干骺开始融合</small>
<small id="bone_discription_text_radius_9">干骺融合过半</small>
<small id="bone_discription_text_radius_10">骺和骨干完全融合</small>

<small id="bone_discription_text_capitate_0">骨化中心未出现</small>
<small id="bone_discription_text_capitate_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_capitate_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_capitate_3">钩骨缘变平</small>
<small id="bone_discription_text_capitate_4">骨变长，纵经大于横径，或钩骨缘凹</small>
<small id="bone_discription_text_capitate_5">纵经与横径的比接近2比1</small>
<small id="bone_discription_text_capitate_6">钩骨缘可区分为掌侧面和背侧面，或第2、第3掌骨缘致密</small>
<small id="bone_discription_text_capitate_7">第2、第3掌骨缘可区分为掌侧面和背侧面</small>

<small id="bone_discription_text_hamate_0">骨化中心未出现</small>
<small id="bone_discription_text_hamate_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_hamate_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_hamate_3">三角骨缘变平</small>
<small id="bone_discription_text_hamate_4">头状骨缘形成关节面，出现微凸</small>
<small id="bone_discription_text_hamate_5">三角骨缘变凹</small>
<small id="bone_discription_text_hamate_6">第4掌骨缘或头状骨缘可区分掌侧面和背侧面</small>
<small id="bone_discription_text_hamate_7">钩突开始出现致密白线</small>
<small id="bone_discription_text_hamate_8">钩突全部轮廓显影清晰</small>

<small id="bone_discription_text_first-metacarpal_0">骨化中心未出现</small>
<small id="bone_discription_text_first-metacarpal_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_first-metacarpal_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_first-metacarpal_3">横径为第一掌骨干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_first-metacarpal_4">大多角骨缘致密或凹陷</small>
<small id="bone_discription_text_first-metacarpal_5">大多角骨面形成马鞍形或与干骺端等宽</small>
<small id="bone_discription_text_first-metacarpal_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_first-metacarpal_7">干骺开始融合</small>
<small id="bone_discription_text_first-metacarpal_8">骺和骨干完全融合</small>

<small id="bone_discription_text_third-metacarpal_0">骨化中心未出现</small>
<small id="bone_discription_text_third-metacarpal_1">骨化中心仅可见一个钙化点</small>
<small id="bone_discription_text_third-metacarpal_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_third-metacarpal_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_third-metacarpal_4">为指甲形或铲形</small>
<small id="bone_discription_text_third-metacarpal_5">一侧或两侧出现纵向致密白线</small>
<small id="bone_discription_text_third-metacarpal_6">与干骺端等宽</small>
<small id="bone_discription_text_third-metacarpal_7">干骺开始融合</small>
<small id="bone_discription_text_third-metacarpal_8">干骺完全融合</small>

<small id="bone_discription_text_fifth-metacarpal_0">骨化中心未出现</small>
<small id="bone_discription_text_fifth-metacarpal_1">骨化中心仅可见一个钙化点</small>
<small id="bone_discription_text_fifth-metacarpal_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-metacarpal_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-metacarpal_4">为指甲形或铲形</small>
<small id="bone_discription_text_fifth-metacarpal_5">一侧或两侧出现纵向致密白线</small>
<small id="bone_discription_text_fifth-metacarpal_6">与干骺端等宽</small>
<small id="bone_discription_text_fifth-metacarpal_7">干骺开始融合</small>
<small id="bone_discription_text_fifth-metacarpal_8">干骺完全融合</small>

<small id="bone_discription_text_first-proximal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_first-proximal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_first-proximal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_first-proximal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_first-proximal-phalange_4">尺侧厚于桡侧，呈楔形，近侧缘凹，通常致密</small>
<small id="bone_discription_text_first-proximal-phalange_5">宽于干骺端</small>
<small id="bone_discription_text_first-proximal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_first-proximal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_first-proximal-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_third-proximal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_third-proximal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_third-proximal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_third-proximal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_third-proximal-phalange_4">近侧缘凹，致密</small>
<small id="bone_discription_text_third-proximal-phalange_5">与干骺端等宽</small>
<small id="bone_discription_text_third-proximal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_third-proximal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_third-proximal-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_fifth-proximal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_fifth-proximal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_fifth-proximal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-proximal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-proximal-phalange_4">近侧缘凹，致密</small>
<small id="bone_discription_text_fifth-proximal-phalange_5">与干骺端等宽</small>
<small id="bone_discription_text_fifth-proximal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-proximal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_fifth-proximal-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_third-middle-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_third-middle-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_third-middle-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_third-middle-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_third-middle-phalange_4">呈倒三角形</small>
<small id="bone_discription_text_third-middle-phalange_5">与干骺端等宽</small>
<small id="bone_discription_text_third-middle-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_third-middle-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_third-middle-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_fifth-middle-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_fifth-middle-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_fifth-middle-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-middle-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-middle-phalange_4">呈倒三角形</small>
<small id="bone_discription_text_fifth-middle-phalange_5">与干骺端等宽</small>
<small id="bone_discription_text_fifth-middle-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-middle-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_fifth-middle-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_first-distal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_first-distal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_first-distal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_first-distal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_first-distal-phalange_4">与干骺端等宽</small>
<small id="bone_discription_text_first-distal-phalange_5">近侧的桡侧凹，或宽于干骺端</small>
<small id="bone_discription_text_first-distal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_first-distal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_first-distal-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_third-distal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_third-distal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_third-distal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_third-distal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_third-distal-phalange_4">与干骺端等宽</small>
<small id="bone_discription_text_third-distal-phalange_5">近侧缘可区分为掌侧面和背侧面</small>
<small id="bone_discription_text_third-distal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_third-distal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_third-distal-phalange_8">干骺完全融合</small>

<small id="bone_discription_text_fifth-distal-phalange_0">骨化中心未出现</small>
<small id="bone_discription_text_fifth-distal-phalange_1">骨化中心为一可见钙化点</small>
<small id="bone_discription_text_fifth-distal-phalange_2">骨化中心清晰，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-distal-phalange_3">横径为干骺端宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-distal-phalange_4">与干骺端等宽</small>
<small id="bone_discription_text_fifth-distal-phalange_5">近侧缘可区分为掌侧面和背侧面</small>
<small id="bone_discription_text_fifth-distal-phalange_6">一侧或两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-distal-phalange_7">干骺开始融合</small>
<small id="bone_discription_text_fifth-distal-phalange_8">干骺完全融合</small>