<small id="bone_discription_text_radius_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_radius_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_radius_3">1）骺最大直径为骨干宽的一半或一半以上<br/>2）骺外侧端增大、变厚、圆滑；内侧端为锥形<br/>3）骺近侧面的1/3变平，并稍致密，骺和骨干之间的间隙安窄，约1mm</small>
<small id="bone_discription_text_radius_4">骺远侧缘内出现致密白线，为掌侧缘，在其远侧为背侧缘</small>
<small id="bone_discription_text_radius_5">1）骺近侧缘可区分为掌侧面和背侧面；学侧面为该缘上不规则的致密白线<br/>2）骺内侧端向内侧和近侧生长，大部分近侧缘的形状和骨干相一致</small>
<small id="bone_discription_text_radius_6">骺内侧端与骨干等宽</small>
<small id="bone_discription_text_radius_7">1）骺背侧面出现月骨和舟骨关节面，以一个小驼蜂相连接<br/>2）骺内侧缘出现与尺骨骺相关节的掌侧面和背侧面；掌侧面或背侧面向内侧突出<br/>3）骺近侧缘稍凹</small>
<small id="bone_discription_text_radius_8">骺在一侧（通常在内侧）覆盖骨干</small>
<small id="bone_discription_text_radius_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_radius_10">骺和骨干开始融合</small>
<small id="bone_discription_text_radius_11">骺和骨干融合1/4</small>
<small id="bone_discription_text_radius_12">骺和骨干融合1/2</small>
<small id="bone_discription_text_radius_13">骺和骨干融合3/4</small>
<small id="bone_discription_text_radius_14">骺和骨干完全融合</small>

<small id="bone_discription_text_ulna_1">骨化中心可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_ulna_2">骨化中心清晰可见，有平滑连续的缘</small>
<small id="bone_discription_text_ulna_3">1）骺最大直径为骨干宽的一半或一半以上<br/>2）骺横向的内、外侧直径比纵向的远、近侧直径大得多<br/>3）骺近侧和远侧缘都变平，但并不一定平行；骺通常为楔形,尖端指向外侧</small>
<small id="bone_discription_text_ulna_4">骺茎突可见为小而清晰的凸起</small>
<small id="bone_discription_text_ulna_5">1）骺尺骨头清晰可辨，密度大于茎突（内侧关节面通常为致密的白线，而将尺骨头和茎突区分开来；尺骨头和茎突相接处的近侧或远侧缘通常出现四陷）<br/>2）与桡骨骺相邻的缘变平</small>
<small id="bone_discription_text_ulna_6">骺近侧缘在一侧与骨干等宽</small>
<small id="bone_discription_text_ulna_7">1）骺近侧缘在两侧与骨干等宽<br/>2）骺近侧缘和骨干远侧缘在中间1/3处重叠</small>
<small id="bone_discription_text_ulna_8">骺和骨干开始融合</small>
<small id="bone_discription_text_ulna_9">骺和骨干融合1/4</small>
<small id="bone_discription_text_ulna_10">骺和骨干融合1/2</small>
<small id="bone_discription_text_ulna_11">骺和骨干融合3/4</small>
<small id="bone_discription_text_ulna_12">骺和骨干完全融合</small>

<small id="bone_discription_text_first-metacarpal_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_first-metacarpal_2">骨化中心清晰可见，为椭圆形，有平滑连续的缘</small>
<small id="bone_discription_text_first-metacarpal_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_first-metacarpal_4">1）骺与骨干等宽<br/>2）骺近侧缘凹（开始出现掌侧面和背侧面）</small>
<small id="bone_discription_text_first-metacarpal_5">骺近侧面可区分为掌侧面和背侧面，并可见背侧面的全部长度；其鞍状关节面与大多角骨的相邻缘一致</small>
<small id="bone_discription_text_first-metacarpal_6">骺内侧缘变平</small>
<small id="bone_discription_text_first-metacarpal_7">骺在一侧覆盖骨干（由手拇指的转动，内侧的覆盖通常比外侧更清晰）</small>
<small id="bone_discription_text_first-metacarpal_8">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_first-metacarpal_9">骺和骨干开始融合</small>
<small id="bone_discription_text_first-metacarpal_10">骺和骨干融合过半</small>
<small id="bone_discription_text_first-metacarpal_11">骺和骨干完全融合</small>

<small id="bone_discription_text_third-metacarpal_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_third-metacarpal_2">骨化中心清晰可见，为圆形，有平滑连续的缘</small>
<small id="bone_discription_text_third-metacarpal_3">骺横径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_third-metacarpal_4">骺外、内、近侧缘清晰可见，在相互连接处成角；骨骺由椭圆形或半圆形变为铲形或手指甲形</small>
<small id="bone_discription_text_third-metacarpal_5">骺外侧端与骨干等宽</small>
<small id="bone_discription_text_third-metacarpal_6">骺可区分掌侧面和背侧面，掌侧缘可见为纵向的致密白线</small>
<small id="bone_discription_text_third-metacarpal_7">骺等于或宽于骨干</small>
<small id="bone_discription_text_third-metacarpal_8">骺和骨干开始融合（生长板软骨的暗带不足骨宽度的3/4）</small>
<small id="bone_discription_text_third-metacarpal_9">骺和骨干融合过半</small>
<small id="bone_discription_text_third-metacarpal_10">骺和骨干完全融合</small>

<small id="bone_discription_text_fifth-metacarpal_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_fifth-metacarpal_2">骨化中心清晰可见，为圆形，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-metacarpal_3">骺横径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-metacarpal_4">骺外、内、近侧缘清晰可见，在相互连接处成角；骨骺由椭圆形或半圆形变为铲形或手指甲形</small>
<small id="bone_discription_text_fifth-metacarpal_5">骺外侧端与骨干等宽</small>
<small id="bone_discription_text_fifth-metacarpal_6">骺可区分掌侧面和背侧面，掌侧缘可见为纵向的致密白线</small>
<small id="bone_discription_text_fifth-metacarpal_7">骺等于或宽于骨干</small>
<small id="bone_discription_text_fifth-metacarpal_8">骺和骨干开始融合（生长板软骨的暗带不足骨宽度的3/4）</small>
<small id="bone_discription_text_fifth-metacarpal_9">骺和骨干融合过半</small>
<small id="bone_discription_text_fifth-metacarpal_10">骺和骨干完全融合</small>

<small id="bone_discription_text_first-proximal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_first-proximal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘（可能出现多个骨化中心，但即使其直径之和超过骨干宽的一半，也为该等级）</small>
<small id="bone_discription_text_first-proximal-phalange_3">骺的最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_first-proximal-phalange_4">1）骺近侧缘凹，通常致密<br>2）骺内侧端宽于外侧端，成楔形</small>
<small id="bone_discription_text_first-proximal-phalange_5">骺外侧端与骨干等宽</small>
<small id="bone_discription_text_first-proximal-phalange_6">骺宽于骨干（通常在内侧）</small>
<small id="bone_discription_text_first-proximal-phalange_7">骺内侧端呈方形（与骨干的形状密切相符）</small>
<small id="bone_discription_text_first-proximal-phalange_8">骺在一侧覆盖骨干（内侧端比外侧端更清晰）</small>
<small id="bone_discription_text_first-proximal-phalange_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_first-proximal-phalange_10">骺和骨干开始融合</small>
<small id="bone_discription_text_first-proximal-phalange_11">骺和骨干融合过半</small>
<small id="bone_discription_text_first-proximal-phalange_12">骺和骨干完全融合</small>

<small id="bone_discription_text_third-proximal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_third-proximal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_third-proximal-phalange_3">骺最大直径为骨干的一半或一半以上</small>
<small id="bone_discription_text_third-proximal-phalange_4">骺近侧缘凹，明显致密</small>
<small id="bone_discription_text_third-proximal-phalange_5">骺在一侧与骨干等宽</small>
<small id="bone_discription_text_third-proximal-phalange_6">骺在两侧与骨干等宽</small>
<small id="bone_discription_text_third-proximal-phalange_7">骺外侧端呈方形（虽然尚未覆盖骨干，但在形状上密切相符）</small>
<small id="bone_discription_text_third-proximal-phalange_8">骺在一侧覆盖骨干</small>
<small id="bone_discription_text_third-proximal-phalange_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_third-proximal-phalange_10">骺和骨干开始融合</small>
<small id="bone_discription_text_third-proximal-phalange_11">骺和骨干融合过半</small>
<small id="bone_discription_text_third-proximal-phalange_12">骺和骨干完全融合</small>

<small id="bone_discription_text_fifth-proximal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_fifth-proximal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-proximal-phalange_3">骺最大直径为骨干的一半或一半以上</small>
<small id="bone_discription_text_fifth-proximal-phalange_4">骺近侧缘凹，明显致密</small>
<small id="bone_discription_text_fifth-proximal-phalange_5">骺在一侧与骨干等宽</small>
<small id="bone_discription_text_fifth-proximal-phalange_6">骺在两侧与骨干等宽</small>
<small id="bone_discription_text_fifth-proximal-phalange_7">骺外侧端呈方形（虽然尚未覆盖骨干，但在形状上密切相符）</small>
<small id="bone_discription_text_fifth-proximal-phalange_8">骺在一侧覆盖骨干</small>
<small id="bone_discription_text_fifth-proximal-phalange_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-proximal-phalange_10">骺和骨干开始融合</small>
<small id="bone_discription_text_fifth-proximal-phalange_11">骺和骨干融合过半</small>
<small id="bone_discription_text_fifth-proximal-phalange_12">骺和骨干完全融合</small>

<small id="bone_discription_text_third-middle-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_third-middle-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_third-middle-phalange_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_third-middle-phalange_4">骺近侧缘的中间部分变厚，朝向相邻指骨的末端生长，并按其滑车关节面成形（致密线为骺的背侧面；在它的一侧或两侧，掌侧面向近侧凸出，或掌侧面和背侧面的近侧缘重叠）</small>
<small id="bone_discription_text_third-middle-phalange_5">骺在外侧与骨干等宽</small>
<small id="bone_discription_text_third-middle-phalange_6">骺在两侧与骨干等宽</small>
<small id="bone_discription_text_third-middle-phalange_7">骺外侧端呈方形</small>
<small id="bone_discription_text_third-middle-phalange_8">骺在一侧覆盖骨干（通常在外侧）</small>
<small id="bone_discription_text_third-middle-phalange_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_third-middle-phalange_10">骺和骨干开始融合</small>
<small id="bone_discription_text_third-middle-phalange_11">骺和骨干融合过半</small>
<small id="bone_discription_text_third-middle-phalange_12">骺和骨干完全融合</small>

<small id="bone_discription_text_fifth-middle-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_fifth-middle-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-middle-phalange_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-middle-phalange_4">骺近侧缘的中间部分变厚，朝向相邻指骨的末端生长，并按其滑车关节面成形（致密线为骺的背侧面；在它的一侧或两侧，掌侧面向近侧凸出，或掌侧面和背侧面的近侧缘重叠）</small>
<small id="bone_discription_text_fifth-middle-phalange_5">骺在外侧与骨干等宽</small>
<small id="bone_discription_text_fifth-middle-phalange_6">骺在两侧与骨干等宽</small>
<small id="bone_discription_text_fifth-middle-phalange_7">骺外侧端呈方形</small>
<small id="bone_discription_text_fifth-middle-phalange_8">骺在一侧覆盖骨干（通常在外侧）</small>
<small id="bone_discription_text_fifth-middle-phalange_9">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-middle-phalange_10">骺和骨干开始融合</small>
<small id="bone_discription_text_fifth-middle-phalange_11">骺和骨干融合过半</small>
<small id="bone_discription_text_fifth-middle-phalange_12">骺和骨干完全融合</small>

<small id="bone_discription_text_first-distal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_first-distal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_first-distal-phalange_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_first-distal-phalange_4">1）骺与骨干等宽<br>2）骺远侧缘变平，近侧缘成角（类似于中节、远节指骨骺在该等级上沿中心轴向下生长而出现的近侧缘形状变化。由于拇指的转动，这种变化通常发生在近侧缘的内侧）</small>
<small id="bone_discription_text_first-distal-phalange_5">1）骺的近-外侧缘凹，按近节指骨头的形状成形（由于拇指内旋程度不同，关节面也可表现为近-外侧缘内的致密凹陷）<br/>2）在骺远侧缘上可见内、外侧面，远节指骨底与内、外侧面之间的鞍形相一致<br/>3）骺宽于骨干</small>
<small id="bone_discription_text_first-distal-phalange_6">骺外侧端呈方形</small>
<small id="bone_discription_text_first-distal-phalange_7">骺在一侧覆盖骨干（由于拇指的内旋，内侧端更清晰）</small>
<small id="bone_discription_text_first-distal-phalange_8">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_first-distal-phalange_9">骺和骨干开始融合</small>
<small id="bone_discription_text_first-distal-phalange_10">骺和骨干融合过半</small>
<small id="bone_discription_text_first-distal-phalange_11">骺和骨干完全融合</small>

<small id="bone_discription_text_third-distal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_third-distal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_third-distal-phalange_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_third-distal-phalange_4">1）骺与骨干等宽<br>2）骺近侧缘向中节指骨末端生长，但尚不能区分出掌侧面和背侧面</small>
<small id="bone_discription_text_third-distal-phalange_5">骺近侧缘可区分为掌侧面和背侧面，并都按中节指骨的滑车关节面成形。背侧面致密白线近侧的凸出部分为掌侧面</small>
<small id="bone_discription_text_third-distal-phalange_6">骺外侧呈方形</small>
<small id="bone_discription_text_third-distal-phalange_7">骺在一侧覆盖骨干</small>
<small id="bone_discription_text_third-distal-phalange_8">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_third-distal-phalange_9">骺和骨干开始融合</small>
<small id="bone_discription_text_third-distal-phalange_10">骺和骨干融合过半</small>
<small id="bone_discription_text_third-distal-phalange_11">骺和骨干完全融合</small>

<small id="bone_discription_text_fifth-distal-phalange_1">骨化中心仅可见一个钙化点，极少为多个，边缘不清晰</small>
<small id="bone_discription_text_fifth-distal-phalange_2">骨化中心清晰可见，为圆盘形，有平滑连续的缘</small>
<small id="bone_discription_text_fifth-distal-phalange_3">骺最大直径为骨干宽的一半或一半以上</small>
<small id="bone_discription_text_fifth-distal-phalange_4">1）骺与骨干等宽<br>2）骺近侧缘向中节指骨末端生长，但尚不能区分出掌侧面和背侧面</small>
<small id="bone_discription_text_fifth-distal-phalange_5">骺近侧缘可区分为掌侧面和背侧面，并都按中节指骨的滑车关节面成形。背侧面致密白线近侧的凸出部分为掌侧面</small>
<small id="bone_discription_text_fifth-distal-phalange_6">骺外侧呈方形</small>
<small id="bone_discription_text_fifth-distal-phalange_7">骺在一侧覆盖骨干</small>
<small id="bone_discription_text_fifth-distal-phalange_8">骺在两侧覆盖骨干</small>
<small id="bone_discription_text_fifth-distal-phalange_9">骺和骨干开始融合</small>
<small id="bone_discription_text_fifth-distal-phalange_10">骺和骨干融合过半</small>
<small id="bone_discription_text_fifth-distal-phalange_11">骺和骨干完全融合</small>