{% load static %}
{% load public %}
<!-- 骨骼评分表 -->
<div class="col-5 border-end">
    <div class="d-flex justify-content-between col">
        <h3>{{task.get_standard_display}}</h3>
    </div>
    <ul class="list-group mb-3 mt-2">
        <div id="list-sum" class="list-group-item p-2">
            <strong>任务ID：</strong>
            {{task.id}}
            <a href="#" id="task_marked" class="bi bi-star{% if task.marked %}-fill{% endif %} text-warning ps-1"></a>
        </div>
        <div class="list-group-item p-2 d-flex justify-content-start">
            <strong>任务状态：</strong>
            {% if task.closed %}
                <strong class="form-check-label text-success pe-2">已完成</strong>
            {% else %}
                <strong id="label_task_status" class="form-check-label text-primary pe-2">进行中</strong>
            {% endif %}
            <div class="form-check form-switch">
                <input id="task_closed" class="form-check-input" type="checkbox" role="switch" {% if task.closed %}checked{% endif %}>
            </div>
        </div>
        <div class="list-group-item p-2">
            <strong>评测：</strong>
            <span>
                <strong data-bs-toggle="tooltip" data-bs-placement="top"
                title="单击复制年龄">
                    <strong id="label_bone_age">？</strong>岁
                </strong>｜
                <strong data-bs-toggle="tooltip" data-bs-placement="top"
                title="单击复制分数">
                    <strong id="label_bone_grade">？</strong>分
                </strong>
            </span>
            <i id="warning_age_misregistration" class="bi bi-exclamation-triangle-fill text-danger"
            data-bs-toggle="tooltip" data-bs-placement="top"
            title="注意：判断年龄与实际年龄差距大于1年！" hidden></i>
        </div>
        <div class="list-group-item p-2">
            <strong>实际：</strong>
            <span>
                <span>{{ task.dcm_file.base_dcm.study_age }}岁</span>｜
                {{patient.get_sex_display}}
                {% if patient.sex == 'Female' %}
                    <i class="bi bi-gender-female" style="color:DeepPink"></i>
                {% else %}
                    <i class="bi bi-gender-male" style="color:DodgerBlue"></i>
                {% endif %}
            </span>
        </div>
    </ul>
    <ul class="list-group">
        {% for bone in bone_details %}
                <div class="list-group-item list-group-item-action d-flex justify-content-between row">
                    {% if bone.error == 0 %}
                        <span id="view-{{bone.name|slugify}}" class="col-12">
                            <span>{{bone.get_name_display}}</span>：
                            {% if bone.assessment >= 0 %}
                                <span id="level-{{bone.name|slugify}}">{{bone.assessment}} 级</span>
                            {% else %}
                                <span id="level-{{bone.name|slugify}}" class="text-danger">
                                    <i class="bi bi-exclamation-triangle-fill text-danger">未评估</i>
                                </span>
                            {% endif %}
                        </span>
                    {% else %}
                        <span id="error-{{bone.name|slugify}}" class="col-11">
                            <span>{{bone.get_name_display}}</span>：
                            <span id="level-{{bone.name|slugify}}" class="text-danger">
                                <i class="bi bi-exclamation-triangle-fill text-danger">{{bone.get_error_display}}</i>
                            </span>
                        </span>
                        <a id="fix-{{bone.name|slugify}}" href="#" class="bi bi-wrench col-1" hidden></a>
                    {% endif %}
                </div>
        {% endfor %}
    </ul>
</div>
<!-- 单个骨骼放大图、评分评级、备注、提示信息等 -->
<div class="col-7">
    <h3 id="bone_details_name">骨骼名称</h3>
    <div style="height:47vh">
        <div id="img_preview" class="img-preview border-top border border-primary" style="width:100%;height:100%;"></div>
    </div>
    <div id="form_bone_details" style:"opacity:0">
        <label class="mt-2">评级：<span id="bone_details_level_label">？</span>级</label>
        <input id="bone_details_level" type="range" class="form-range" min=0 max=0>
        <label class="form-label">备注：</label>
        <input id="bone_details_remarks" type="text" class="form-control" maxlength="50">
        <div class="text-end mt-2">
            <button id="modify_bone_detail" class="btn btn-success" hidden>修改信息</button>
            <button id="modify_bone_position" class="btn btn-primary" hidden>校准定位</button>
        </div>
        <div class="text-start" id="bone_discription" hidden>
            <img class="img-fluid" id="bone_discription_img">
            {% include 'BoneAge/evaluator/bone_discription_'|add:task.standard|add:'.html' %}
        </div>
    </div>
</div>

<textarea id="bone_age_remarks" class="form-control invisible" maxlength="300" placeholder="非必填"></textarea>

<input id="bone_age" type="number" class="form-control invisible" placeholder="" min=0 max=18 step=0.1 required>