{% extends 'BoneAge/base.html' %}
{% load static %}
{% load BoneAge_global_tags %}

{% block title_BoneAge %}{{patient.name}}｜评测器{% endblock title_BoneAge %}

{% block css_BoneAge %}
<link rel="stylesheet" href="{% static '/BoneAge/image_cropper/cropper.min.css' %}">
<link rel="stylesheet" href="{% static '/BoneAge/css/evaluator.css' %}">
{% endblock css_BoneAge %}

{% block content_BoneAge %}
<div class="row mt-2">
    <div class="col-6 border-end">
        <div class="row">
            {% include 'BoneAge/evaluator/main_image.html' %}
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            {% include 'BoneAge/evaluator/bone_details.html' %}
        </div>
    </div>
</div>

<!-- 任务未完成提示框 -->
<div class="modal fade" id="modal_task_notcompleted" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">提交失败</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                有尚未完成的评分评级！
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="#" data-bs-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>

<!-- 完成任务提示框 -->
<div class="modal fade" id="modal_finish_task" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">任务完成</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div><label>任务ID：</label>{{task.id}}</div>
                <div><label>患者：</label>{{patient.name}}（{{patient.Patient_ID}}）</div>
            </div>
            <div class="modal-footer">
                <a id="finish_task" class="btn btn-primary" href="#" data-bs-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>

<!-- 快捷键切换任务无上一项提示框 -->
<div class="modal fade" id="modal_task_no_pre" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">切换失败</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                已经是第一项任务！
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="#" data-bs-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>

<!-- 快捷键切换任务无下一项提示框 -->
<div class="modal fade" id="modal_task_no_next" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">切换失败</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                已经是最后一项任务！
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="#" data-bs-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>

{% endblock content_BoneAge %}

{% block js_BoneAge %}
<script src="{% static '/BoneAge/image_cropper/cropper.min.js' %}" ></script>
<script src="{% static '/BoneAge/image_cropper/jquery-cropper.min.js' %}" ></script>
<script src="{% static '/BoneAge/js/evaluator/RUS_CHN.js' %}" ></script>
<script>
    var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    var img_width = {{dcm.base_dcm.dcm_to_image.width}}
    var img_height = {{dcm.base_dcm.dcm_to_image.height}}
    var task = {
        "id" : {{task.id}},
        "bone_age" : -1,
        "closed" : {{task.closed|lower}},
    }
    var bones = {
        {% for bone in bone_details %}
            "{{bone.name|slugify}}" : {
                "id" : {{bone.id}},
                "name" : "{{bone.get_name_display}}",
                "x" : {{bone.center_x}} * img_width - {{bone.width}} * img_width / 2,
                "y" : {{bone.center_y}} * img_height - {{bone.height}} * img_height / 2,
                "width" : {{bone.width}} * img_width,
                "height" : {{bone.height}} * img_height,
                "error" : {{bone.error}},
                "error_message" : "{{bone.get_error_display}}",
                "level" : {{bone.level}},
                "level_message" : "{{bone.get_level_display}}",
                "remarks" : `{{bone.remarks|default_if_none:""}}`,
            },
        {% endfor %}
    }
    var dcm_id = {{dcm.id}}
    var brightness = {{dcm.brightness}}
    var contrast = {{dcm.contrast}}
    var actual_age = {{patient.birthday|get_dcm_age:dcm.base_dcm.Study_Date}}
    var sex = '{{patient.sex|lower}}'
    var url_api_modify_bone_detail = "{% url 'api_BoneAge_modify_bone_detail' %}"
    var url_api_modify_bone_position = "{% url 'api_BoneAge_modify_bone_position' %}"
    var url_api_modify_bone_age = "{% url 'api_BoneAge_modify_bone_age' %}"
    var url_api_finish_task = "{% url 'api_BoneAge_finish_task' %}"
    var url_personal_index = "{% url 'BoneAge_index' 1 0 0 %}"
    var url_personal_index_task_finished = "{% url 'BoneAge_finished_tasks' 1 5 1 %}"
    var url_api_save_image_offset = "{% url 'api_BoneAge_save_image_offset' %}"
    var default_bone = ("{{preference.default_bone}}").replace('RUS_', "").replace('CHN', "")
    var is_shortcut_enable = false
    var url_api_mark_task = "{% url 'api_BoneAge_mark_task' %}"
</script>
<script src="{% static '/BoneAge/js/evaluator/evaluator.js' %}"></script>
{% if preference.shortcut %}
<script>
    is_shortcut_enable = true
    var bone_order = [{% for bone in preference.bone_order %}'{{bone|slugify}}',{% endfor %}]
    var is_task_has_pre = false
    var is_task_has_next = false
    {% if pre_task %}
        is_task_has_pre = {{pre_task.id}}
        var url_task_pre = '{% url 'BoneAge_evaluator' pre_task.id %}'
    {% endif %}
    {% if next_task %}
        is_task_has_next = {{next_task.id}}
        var url_task_next = '{% url 'BoneAge_evaluator' next_task.id %}'
    {% endif %}
</script>
<script src="{% static '/BoneAge/js/evaluator/shortcut.js' %}"></script>
{% endif %}
{% endblock js_BoneAge %}