{% load static %}
<script src="{% static '/BoneAge/image_cropper/cropper.min.js' %}" ></script>
<script src="{% static '/BoneAge/image_cropper/jquery-cropper.min.js' %}" ></script>
<script>
    var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    var img_width = {{dcm.base_dcm.dcm_to_image.width}}
    var img_height = {{dcm.base_dcm.dcm_to_image.height}}
    var task = {
        "id" : {{task.id}},
        "bone_age" : -1,
        "closed" : {{task.closed|lower}},
    }
    var bones = {
        {% for bone in bone_details %}
            "{{bone.name|slugify}}" : {
                "id" : {{bone.id}},
                "name" : "{{bone.get_name_display}}",
                {% if bone.center_x < 0 %}"x" : 0,{% else %}"x" : {{bone.center_x}} * img_width - {{bone.width}} * img_width / 2,{% endif %}
                {% if bone.center_y < 0 %}"y" : 0,{% else %}"y" : {{bone.center_y}} * img_height - {{bone.height}} * img_height / 2,{% endif %}
                {% if bone.width < 0 %}"width" : 1,{% else %}"width" : {{bone.width}} * img_width,{% endif %}
                {% if bone.height < 0 %}"height" : 1,{% else %}"height" : {{bone.height}} * img_height,{% endif %}
                "error" : {{bone.error}},
                "error_message" : "{{bone.get_error_display}}",
                "level" : {{bone.assessment}},
                "level_message" : "{{bone.get_assessment_display}}",
                "remarks" : `{{bone.remarks|default_if_none:""}}`,
            },
        {% endfor %}
    }
    var dcm_id = {{dcm.id}}
    var brightness = {{dcm.brightness}}
    var contrast = {{dcm.contrast}}
    var actual_age = {{task.actual_age}}
    var sex = '{{patient.sex}}'
    var url_static = '{% get_static_prefix %}'
    var url_api_modify_bone_detail = "{% url 'api_BoneAge_modify_bone_detail' %}"
    var url_api_modify_bone_position = "{% url 'api_BoneAge_modify_bone_position' %}"
    var url_api_modify_bone_age = "{% url 'api_BoneAge_modify_bone_age' %}"
    var url_api_finish_task = "{% url 'api_BoneAge_finish_task' %}"
    var url_personal_index = "{% url 'BoneAge_index' 1 %}"
    var url_personal_index_task_finished = "{% url 'BoneAge_finished_tasks' 1 %}"
    var url_api_save_image_offset = "{% url 'api_BoneAge_save_image_offset' %}"
    var default_bone = ("{{preference.default_bone}}").replace('RUS_', "").replace('CHN', "")
    var is_shortcut_enable = false
    var url_api_mark_task = "{% url 'api_BoneAge_mark_task' %}"
    var bone_fixed = undefined
    {% if bone_fixed %}
    bone_fixed = "{{ bone_fixed }}"
    {% endif %}
</script>
<script>
    var standard = {{ standard|safe }};
    var Grade_Age = standard.Grade_Age;
    var Level_Grade = standard.Level_Grade;
    var Level_14_8 = standard.Level_14_8;
</script>
<script src="{% static '/BoneAge/js/evaluator/'|add:task.standard|add:'.js' %}" ></script>
<script src="{% static '/BoneAge/js/evaluator/evaluator.js' %}"></script>
{% if preference.shortcut %}
<script>
    is_shortcut_enable = true
    var bone_order = [{% for bone in preference.bone_order %}'{{bone|slugify}}',{% endfor %}]
    var is_task_has_pre = false
    var is_task_has_next = false
    {% if pre_task %}
        is_task_has_pre = {{pre_task.id}}
        var url_task_pre = '{% url 'BoneAge_evaluator' pre_task.id %}'
    {% endif %}
    {% if next_task %}
        is_task_has_next = {{next_task.id}}
        var url_task_next = '{% url 'BoneAge_evaluator' next_task.id %}'
    {% endif %}
</script>
<script src="{% static '/BoneAge/js/evaluator/shortcut.js' %}"></script>
{% endif %}