{% load public %}
<div class="col-6 border-end">
    <div class="d-flex justify-content-between col">
        <h3><i class="bi bi-person-bounding-box"></i> 任务信息</h3>
    </div>
    <div class="row">   
        <span class="col-6">
            <strong>姓名：</strong>
            <a id="patient_profile" href="{% url 'PatientManagement_profile' task.dcm_file.base_dcm.patient.id %}">
                {{patient.name}}
            </a>
        </span>
        <span class="col-6">
            <strong>患者ID：</strong>
            <span>{{patient.Patient_ID}}</span>
        </span>
        <span class="col-6">
            <strong>历史：</strong>
            {% if historys > 0 %}
                <a id="patient_historys" 
                href="{% url 'PatientManagement_profile' task.dcm_file.base_dcm.patient.id %}?info_tab=BoneAge"
                class="bi bi-clock-history"> {{ patient_historys_count }}份</a>                
            {% else %}
                无            
            {% endif %}
        </span>
        <span class="col-6">
            <strong>检查日期：</strong>
            <span>{{task.dcm_file.base_dcm.Study_Date|date:"Y-n-j"}}</span>
        </span>
    </div>
</div>