{% extends 'BoneAge/base.html' %}
{% load static %}
{% load BoneAge_global_tags %}

{% block title_BoneAge %}
  管理后台
{% endblock %}

{% block nav_BoneAge_index %}
  active
{% endblock %}

{% block css_BoneAge %}
  <link rel="stylesheet" href="{% static '/BoneAge/css/admin.css' %}" />
{% endblock %}

{% block content_BoneAge %}
  <div class="alert alert-{% if error_dcm_count > 0 %}danger{% else %}primary{% endif %} d-flex justify-content-between" role="alert">
    {% if error_dcm_count > 0 %}
      <span>存在 {{ error_dcm_count }} 个待处理错误报告，<a id="analyze" href="#">点击此处处理</a></span>
    {% else %}
      <span>{{ user.last_name|time_period_alert }}。欢迎使用骨龄评分系统。</span>
    {% endif %}
    <a data-bs-toggle="offcanvas" href="#account_settings">个人设置 <i class="bi bi-gear"></i></a>
  </div>

  <div class="row mt-3">
    <!-- 系统配置区 -->
    <div class="col-4 border-end">
      {% include 'BoneAge/admin/system_configuration.html' %}
    </div>
    <!-- 任务分配区 -->
    <div class="col-8">
      {% include 'BoneAge/admin/task_allocation.html' %}
    </div>
  </div>

  <!-- 个人设置侧边栏 -->
  {% include 'BoneAge/preference/preference.html' %}
  <!-- 分配任务弹窗 -->
  {% include 'BoneAge/admin/modal_task_allocation.html' %}
  <!-- 删除任务弹窗 -->
  {% include 'BoneAge/admin/modal_task_delete.html' %}

{% endblock %}

{% block js_BoneAge %}
  <script src="{% static 'js/Sortable.min.js' %}"></script>
  <script src="{% static 'BoneAge/js/admin/admin.js' %}"></script>
  <script>
    var tooltipTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    var url_api_allocate_tasks = "{% url 'api_BoneAge_allocate_tasks' %}"
    var url_api_delete_tasks = "{% url 'api_BoneAge_delete_tasks' %}"
  </script>
  {% include "BoneAge/preference/preference_js.html" %}
{% endblock %}
