:root {
    /* 主题色 */
    --theme_color: rgb(17,64,141);
    --success_color: rgb(25, 135, 84);
}

a, i, h1, h2, h3, h4, h5, h6, label, strong{color: var(--theme_color)}
a {text-decoration: none;}

/* bootstrap 重写 */
.bg-primary{background-color: var(--theme_color)!important;}
.page-link{color: var(--theme_color)!important;}
.page-item.active .page-link{background-color: var(--theme_color)!important;color: white!important;}
.navbar{background-color: var(--theme_color); }
.row{ margin:0px; }
.btn-primary{ background-color: rgb(18, 75, 167); border-color: rgb(18, 75, 167);}
.btn-danger{ background-color: rgb(199, 14, 54) }
.btn-danger:hover{ background-color:rgb(162, 3, 38); border-color: rgb(162, 3, 38); }
.btn-primary:hover{ background-color: var(--theme_color); border-color: var(--theme_color);}
.btn-outline-primary:hover{ background-color: var(--theme_color); border-color: var(--theme_color); color:white}

.list-group{background-color: white;}
.list-group-item:hover{cursor: pointer!important;}
.list-group-item-action:focus, .list-group-item-action:hover{color:white;background-color: var(--theme_color);}
.list-group-item-action:focus, .list-group-item-action:hover a{color:white;}
.list-group-item-action:focus, .list-group-item-action:hover i{color:white;}
.list-group-item-action:focus, .list-group-item-action:hover span{color:white;cursor:pointer;}
.list-group-item.active{color:white;background-color: var(--theme_color);}
.list-group-item.active a{color:white}

/* popover 修改为底色主题色，文字白色 */
.tooltip-inner{background-color: var(--theme_color);color: white;font-size: large;}
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before, .bs-tooltip-start .tooltip-arrow::before{border-left-color: var(--theme_color);}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{border-right-color: var(--theme_color);}
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before, .bs-tooltip-top .tooltip-arrow::before{border-top-color: var(--theme_color);}
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before, .bs-tooltip-bottom .tooltip-arrow::before{border-bottom-color: var(--theme_color);}