{% load public %}
<h2>未评测</h2>
<div class='row'>
    {% for task in tasks_processing %}
    <a href="{% url 'BoneAge_evaluator' task.id %}"
    class="mb-3 col-5 p-0 m-4">
        <div class="card border-primary">
            <div class="row">
                <img src="{{task.dcm_file.base_dcm.dcm_to_image.url}}" class="img-fluid rounded-start col-5 p-0">
                <ul class="list-group list-group-flush col-7 p-0">
                    <li class="list-group-item">任务ID：{{task.id}}</li>
                    <li class="list-group-item">拍片时间：{{task.dcm_file.base_dcm.Study_Date}} {{task.dcm_file.base_dcm.Study_Time}}</li>
                    <li class="list-group-item">预估骨龄：<strong>{{task.bone_age}}</strong>岁
                    {% if task.bone_age|subtract:task.dcm_file.base_dcm.study_age|abs > 1 %}
                    <!-- 为啥tooltip不行 -->
                    <i class="bi bi-exclamation-triangle-fill text-danger"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="注意：判断年龄与实际年龄差距大于1年！"></i>
                    {% endif %}
                    </li>
                    <li class="list-group-item">实际年龄：{{task.dcm_file.base_dcm.study_age}}岁</li>
                </ul>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<h2 class="text-success">历史记录</h2>
<div class='row'>
    {% for task in tasks_history %}
    <a href="{% url 'BoneAge_evaluator' task.id %}"
    class="mb-3 col-5 p-0 m-4">
        <div class="card border-success">
            <div class="row">
                <img src="{{task.dcm_file.base_dcm.dcm_to_image.url}}" class="img-fluid rounded-start col-5 p-0">
                <ul class="list-group list-group-flush col-7 p-0">
                    <li class="list-group-item">任务ID：{{task.id}}</li>
                    <li class="list-group-item">拍片时间：{{task.dcm_file.base_dcm.Study_Date}} {{task.dcm_file.base_dcm.Study_Time}}</li>
                    <li class="list-group-item">骨龄：{{task.bone_age}}岁</li>
                    <li class="list-group-item">实际年龄：{{task.dcm_file.base_dcm.study_age}}岁</li>
                </ul>
            </div>
        </div>
    </a>
    {% endfor %}
</div>