{% load BoneAge_global_tags %}
<h2>未评测</h2>
<div class='row'>
    {% for task in tasks_processing %}
    <a href="{% url 'BoneAge_evaluator' task.id %}?back_page=PatientManagement_profile&args={{patient.id}}&else_get=info_tab%3DBoneAge%26back_page%3D{{back_page_get}}{% for arg in back_page_args_get %}%26args%3D{{arg}}{% endfor %}{% if back_page_else_get %}%26else_get%3D{{back_page_else_get|transfercharacter_get_url}}{% endif %}"
    class="mb-3 col-5 p-0 m-4">
        <div class="card border-primary">
            <div class="row">
                <img src="{{task.dcm_file.base_dcm.dcm_to_image.url}}" class="img-fluid rounded-start col-5 p-0">
                <ul class="list-group list-group-flush col-7 p-0">
                    <li class="list-group-item">任务ID：{{task.id}}</li>
                    <li class="list-group-item">拍片时间：{{task.dcm_file.base_dcm.Study_Date}} {{task.dcm_file.base_dcm.Study_Time}}</li>
                    <li class="list-group-item">预估骨龄：{{task.bone_age}}岁</li>
                </ul>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<h2 class="text-success">历史记录</h2>
<div class='row'>
    {% for task in tasks_history %}
    <a href="{% url 'BoneAge_evaluator' task.id %}?back_page=PatientManagement_profile&args={{patient.id}}&else_get=info_tab%3DBoneAge%26back_page%3D{{back_page_get}}{% for arg in back_page_args_get %}%26args%3D{{arg}}{% endfor %}{% if back_page_else_get %}%26else_get%3D{{back_page_else_get|transfercharacter_get_url}}{% endif %}"
    class="mb-3 col-5 p-0 m-4">
        <div class="card border-success">
            <div class="row">
                <img src="{{task.dcm_file.base_dcm.dcm_to_image.url}}" class="img-fluid rounded-start col-5 p-0">
                <ul class="list-group list-group-flush col-7 p-0">
                    <li class="list-group-item">任务ID：{{task.id}}</li>
                    <li class="list-group-item">拍片时间：{{task.dcm_file.base_dcm.Study_Date}} {{task.dcm_file.base_dcm.Study_Time}}</li>
                    <li class="list-group-item">骨龄：{{task.bone_age}}岁</li>
                </ul>
            </div>
        </div>
    </a>
    {% endfor %}
</div>