{% extends 'BoneAge/base.html' %}

{% block title_BoneAge %}管理后台{% endblock title_BoneAge %}

{% block nav_BoneAge_index %}active{% endblock nav_BoneAge_index %}

{% block css_BoneAge %}
{% endblock css_BoneAge %}

{% block content_BoneAge %}
{% load static %}

{% if unanalyzed_dcm_count > 0 %}
<div class="alert alert-warning d-flex justify-content-start" role="alert">
    <span>数据库中存在 {{unanalyzed_dcm_count}} 个未解析的dcm文件，</span>
    <a id="analyze" href="{% url 'api_BoneAge_analyze_dcm' %}">点击此处解析</a>
    <span id="spinner_analyze" hidden>
        <span class="spinner-border spinner-border-sm text-primary ms-2 align-self-center" role="status"></span>
        <span>解析将自动进行，可离开本页面</span>
    </span>
</div>
{% else %}
<div class="alert alert-success d-flex justify-content-start" role="alert">
    <span>数据库运转正常。</span>
</div>
{% endif %}

<div class="row mt-3">
    <div class="col-4 border-end">
        <div class="mb-3">
            <form id="dcm_form" enctype="multipart/form-data" method="post" action="{% url 'api_BoneAge_upload_dcm' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input id="dcm_files" class="form-control" type="file" name="dcm_files" multiple accept="application/dicom"/>
                    <button class="btn btn-outline-primary" type="submit" id="upload_dcms">上传</button>
                </div>
            </form>
            <div class="text-end mb-2">
                <div id="spinner_upload" hidden>
                    <span class="spinner-border text-primary mt-2" role="status"></span>
                    <span class="align-self-center">请勿离开此页面！</span>
                </div>
            </div>
        </div>
        <div class="input-group">
            <input class="form-control" type="text" id="search_text" placeholder="患者名 / 患者ID / dcm ID" disabled />
            <button class="btn btn-outline-primary" type="button" id="search" disabled>搜索</button>
        </div>
        <a href="/admin/auth/user/add/" class="btn btn-outline-primary mt-3">添加账户</a>
        {% if user.id == 1 %}<a href="{% url 'api_BoneAge_export_bone_data'%}" class="btn btn-outline-primary mt-3">导出骨骼数据</a>{% endif %}
        <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-3">退出登陆</a>
    </div>
    <div class="col-8">
        <h2 class="text-center">未分配任务（共{{unallocated_tasks|length}}个）</h2>
        {% if unallocated_tasks %}
            <div class="row">
                <form action="{% url 'api_BoneAge_allocate_tasks' %}" method="post" class="d-flex justify-content-start col-6">
                    <div class="input-group mb-3">
                        {% csrf_token %}
                        <span class="input-group-text">指定</span>
                        <input name="tasks_to_allocate_count" type="number" class="form-control" value=0 min=0 max={{unallocated_tasks|length}} onkeyup="value=value.replace(/[^\d\.]/g,'');if(value<0) value=0;if(value>{{unallocated_tasks|length}})value={{unallocated_tasks|length}};" >
                        <span class="input-group-text">/<span class="text-primary mx-1">{{unallocated_tasks|length}}</span>个任务给</span>
                        <select name="allocate_to" id="allocate_to" class="form-select">
                            {% for user in users %}
                                <option value="{{user.id}}">{{user.last_name}}{{user.first_name}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-primary" id="allocate_tasks" type="submit">分配</button>
                        <span class="input-group-text ms-2">或</span>
                        <a href="{% url 'api_BoneAge_allocate_tasks_random' %}" class="btn btn-outline-primary ms-2" id="allocate_tasks_random">随机分配所有</a>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>患者（ID）</th>
                        <th>SOP Instance ID</th>
                        <th>Study Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in unallocated_tasks %}
                        <tr id="{{task.id}}">
                            <td>{{task.dcm_file.base_dcm.patient.name}}（{{task.dcm_file.base_dcm.patient.Patient_ID}}）</td>
                            {% if task.dcm_file.base_dcm.SOP_Instance_UID %}
                                <td>{{task.dcm_file.base_dcm.SOP_Instance_UID}}</td>
                            {% else %}
                                <td><span class="text-danger">读取失败</span></td>
                            {% endif %}
                            {% if task.dcm_file.base_dcm.Study_Date %}
                                <td>{{task.dcm_file.base_dcm.Study_Date}}</td>
                            {% else %}
                                <td><span class="text-danger">读取失败</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            暂无待分配任务。
        {% endif %}
    </div>
</div>


{% endblock content_BoneAge %}

{% block js_BoneAge %}
<script>
    var task_count = {{unallocated_tasks|length}}
    var url_api_upload_dcm = "{% url 'api_BoneAge_upload_dcm' %}"
</script>
<script src="{% static 'BoneAge/js/dcm_library/admin.js' %}"></script>
{% endblock js_BoneAge %}