.img-preview {
    background-color: #f7f7f7;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
.img-preview > img { max-width: 100%; }
.list-group-item{ padding: .7rem 1rem }
.list-group-item span{ color: black; }
.list-group-item.active span{ color:white }
.list-group-item:hover{cursor: default!important;}
#patient_profile:hover{text-decoration: underline !important;}
#patient_historys:hover{text-decoration: underline !important;}
/* check按钮底色改为绿色 */
.form-check-input:checked{
  background-color: green;
  border-color: grey;
}