<div class="offcanvas offcanvas-end" data-bs-focus="false" tabindex="-1" id="account_settings">
    <div class="offcanvas-header row border-bottom d-flex justify-content-between">
        <h4>个人设置</h4>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="d-flex justify-content-between mt-1">
                <span>
                    启用快捷键
                    <i class="bi bi-question-circle-fill"
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="在评测器中，按 W 或 S 切换骨骼；按 A 或 D 切换任务；按 F 完成任务；按 Q 退出评分器"></i>
                    ：
                </span>    
                <div class="form-check form-switch">
                    <input id="preference_shortcut" class="form-check-input" type="checkbox" role="switch" {% if preference.shortcut %}checked{% endif %}>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="align-self-center col-4 ps-0">评测标准：</div>
                <div class="col-8 pe-0">
                    <select class="form-select" id="preference_standard">
                        <option value="RUS" {% if preference.standard == "RUS" %}selected{% endif %}>RUS-CHN</option>
                        <option value="CHN" {% if preference.standard == "CHN" %}selected{% endif %}>CHN</option>
                    </select> 
                </div>
            </div>
            <div class="row mt-3">
                <div class="align-self-center col-4 ps-0">默认骨骼：</div>
                <div class="col-8 pe-0">
                    <select class="form-select" id="preference_default_bone">
                        {% if preference.standard == "RUS" %}
                            {% include "BoneAge/index/bone_options/RUS.html" %}
                        {% elif preference.standard == "CHN" %}
                            {% include "BoneAge/index/bone_options/CHN.html" %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <hr/>
            <div class="row">
                <a href="{% url 'logout' %}" class="btn btn-danger">退出登录</a>
            </div>
        </div>
    </div>
</div>