<div class="d-flex justify-content-end">
    <span class="align-self-center me-3">共 {{unfinished_tasks_count}} 项</span>
    <nav>
        <ul class="pagination">
            {% if has_previous_page %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' 1 order is_descend %}">首页</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-1' order is_descend %}">上一页</a></li>
            {% endif %}
            {% if page_number|add:'-5' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-5' order is_descend %}">...</a></li>
            {% endif %}
            {% if page_number|add:'-4' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-4' order is_descend %}">{{page_number|add:'-4'}}</a></li>
            {% endif %}
            {% if page_number|add:'-3' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-3' order is_descend %}">{{page_number|add:'-3'}}</a></li>
            {% endif %}
            {% if page_number|add:'-2' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-2' order is_descend %}">{{page_number|add:'-2'}}</a></li>
            {% endif %}
            {% if page_number|add:'-1' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-1' order is_descend %}">{{page_number|add:'-1'}}</a></li>
            {% endif %}
                <li class="page-item active"><a class="page-link" href="{% url 'BoneAge_index' page_number order is_descend %}">{{page_number}}</a></li>
            {% if page_number|add:'1' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'1' order is_descend %}">{{page_number|add:'1'}}</a></li>
            {% endif %}
            {% if page_number|add:'2' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'2' order is_descend %}">{{page_number|add:'2'}}</a></li>
            {% endif %}
            {% if page_number|add:'3' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'3' order is_descend %}">{{page_number|add:'3'}}</a></li>
            {% endif %}
            {% if page_number|add:'4' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'4' order is_descend %}">{{page_number|add:'4'}}</a></li>
            {% endif %}
            {% if page_number|add:'5' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'5' order is_descend %}">...</a></li>
            {% endif %}
            {% if has_next_page %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'1' order is_descend %}">下一页</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_count order is_descend %}">尾页</a></li>
            {% endif %}
        </ul>
    </nav>
</div>