<div class="offcanvas offcanvas-end" data-bs-focus="false" tabindex="-1" id="toolbar_right">
    <div class="offcanvas-header row border-bottom d-flex justify-content-between">
        <h4>个人设置</h4>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="d-flex justify-content-between mt-1">
                <span>
                    启用快捷键
                    <i class="bi bi-question-circle-fill" data-bs-toggle="popover" title="使用提示" 
                    data-bs-content="在评测器中，按W或S切换骨骼。"></i>
                    ：
                </span>    
                <div class="form-check form-switch">
                    <input id="preference_shortcut" class="form-check-input" type="checkbox" role="switch" {% if preference.shortcut %}checked{% endif %}>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="align-self-center col-4 ps-0">评测标准：</div>
                <div class="col-8 pe-0">
                    <select class="form-select" id="preference_standard">
                        <option value="RUS">RUS-CHN（默认）</option>
                        <option value="CHN" disabled>CHN（未上线）</option>
                    </select> 
                </div>
            </div>
            <div class="row mt-3">
                <div class="align-self-center col-4 ps-0">默认骨骼：</div>
                <div class="col-8 pe-0">
                    <select class="form-select" id="preference_default_bone">
                        <option value="RUS_radius">桡骨（默认）</option>
                        <option value="RUS_ulna">尺骨</option>
                        <option value="RUS_first-metacarpal">第一掌骨</option>
                        <option value="RUS_third-metacarpal">第三掌骨</option>
                        <option value="RUS_fifth-metacarpal">第五掌骨</option>
                        <option value="RUS_first-proximal-phalange">第一近节指骨</option>
                        <option value="RUS_third-proximal-phalange">第三近节指骨</option>
                        <option value="RUS_fifth-proximal-phalange">第五近节指骨</option>
                        <option value="RUS_third-middle-phalange">第三中节指骨</option>
                        <option value="RUS_fifth-middle-phalange">第五中节指骨</option>
                        <option value="RUS_first-distal-phalange">第一远节指骨</option>
                        <option value="RUS_third-distal-phalange">第三远节指骨</option>
                        <option value="RUS_fifth-distal-phalange">第五远节指骨</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>