{% load BoneAge_global_tags %}
<h2 class="text-center">
    <i class="bi bi-receipt"></i>
    任务列表
</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="bg-primary"><a href="#" class="text-light">任务ID <i class="bi bi-caret-up-fill text-light"></i></a></th>
            <th class="bg-primary"><a href="#" class="text-light">患者（Patient ID） <i class="bi bi-caret-up-fill text-light"></i></a></th>
            <th>性别</th>
            <th class="bg-primary"><a href="#" class="text-light">年龄 <i class="bi bi-caret-up-fill text-light"></i></a></th>
            <th class="bg-primary"><a href="#" class="text-light">检查日期 <i class="bi bi-caret-up-fill text-light"></i></a></th>
            <th class="bg-primary"><a href="#" class="text-light">任务分配时间 <i class="bi bi-caret-up-fill text-light"></i></a></th>
            <th>历史记录</th>
        </tr>
    </thead>
    {% if unfinished_tasks %}
        <tbody>
            {% for task in unfinished_tasks %}
                <tr id="evaluator_{{task.id}}">
                    <td>{{task.id}}</td>
                    <td><a href="{% url 'BoneAge_index' 1 %}">
                        {{task.dcm_file.patient.name}}（{{task.dcm_file.patient.Patient_ID}}）
                    </a></td>
                    <td>
                        {{task.dcm_file.patient.get_sex_display}}
                        {% if task.dcm_file.patient.sex == 'Female' %}
                            <i class="bi bi-gender-female" style="color:DeepPink"></i>
                        {% else %}
                            <i class="bi bi-gender-male" style="color:DodgerBlue"></i>
                        {% endif %}
                    </td>
                    <td>{{task.dcm_file.patient.birthday|actual_age|floatformat}}</td>
                    <td>{% if task.dcm_file.Study_Date %}
                            {{task.dcm_file.Study_Date}}
                        {% else %}
                           未知
                        {% endif %}
                    </td>
                    <td>{{task.allocated_datetime}}</td>
                    <td>
                        {% if task.history > 0 %}
                            <a href="{% url 'BoneAge_index' 1 %}" class="bi bi-clock-history" style="font-size:1.2rem">：{{task.history}}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
<div class="d-flex justify-content-end">
    <span class="align-self-center me-3">共 {{unfinished_tasks_count}} 项</span>
    <nav>
        <ul class="pagination">
            {% if has_previous_page %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' 1 %}">首页</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-1' %}">上一页</a></li>
            {% endif %}
            {% if page_number|add:'-5' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-5' %}">...</a></li>
            {% endif %}
            {% if page_number|add:'-4' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-4' %}">{{page_number|add:'-4'}}</a></li>
            {% endif %}
            {% if page_number|add:'-3' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-3' %}">{{page_number|add:'-3'}}</a></li>
            {% endif %}
            {% if page_number|add:'-2' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-2' %}">{{page_number|add:'-2'}}</a></li>
            {% endif %}
            {% if page_number|add:'-1' >= 1 %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'-1' %}">{{page_number|add:'-1'}}</a></li>
            {% endif %}
                <li class="page-item active"><a class="page-link" href="{% url 'BoneAge_index' page_number %}">{{page_number}}</a></li>
            {% if page_number|add:'1' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'1' %}">{{page_number|add:'1'}}</a></li>
            {% endif %}
            {% if page_number|add:'2' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'2' %}">{{page_number|add:'2'}}</a></li>
            {% endif %}
            {% if page_number|add:'3' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'3' %}">{{page_number|add:'3'}}</a></li>
            {% endif %}
            {% if page_number|add:'4' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'4' %}">{{page_number|add:'4'}}</a></li>
            {% endif %}
            {% if page_number|add:'5' <= page_count %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'5' %}">...</a></li>
            {% endif %}
            {% if has_next_page %}
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_number|add:'1' %}">下一页</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'BoneAge_index' page_count %}">尾页</a></li>
            {% endif %}
        </ul>
    </nav>
</div>