{% load BoneAge_global_tags %}
<h2 class="text-center">
    <i class="bi bi-receipt"></i>
    任务列表
</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th id="order_taskID"><a href="#">任务ID <i class="bi bi-caret-up-fill"></i></a></th>
            <th id="order_patienID"><a href="#">患者（Patient ID）<i class="bi bi-caret-up-fill"></i></a></th>
            <th>性别</th>
            <th id="order_age"><a href="#">实际年龄 <i class="bi bi-caret-up-fill"></i></a></th>
            <th id="order_studyDate"><a href="#">检查日期 <i class="bi bi-caret-up-fill"></i></a></th>
            <th id="order_taskAllocatedDate"><a href="#">任务分配时间 <i class="bi bi-caret-up-fill"></i></a></th>
            <th>历史记录</th>
        </tr>
    </thead>
    {% if unfinished_tasks %}
        <tbody>
            {% for task in unfinished_tasks %}
                <tr id="evaluator_{{task.id}}">
                    <td>{{task.id}}</td>
                    <td><a href="#">
                        {{task.dcm_file.patient.name}}（{{task.dcm_file.patient.Patient_ID}}）
                    </a></td>
                    <td>
                        {{task.dcm_file.patient.get_sex_display}}
                        {% if task.dcm_file.patient.sex == 'Female' %}
                            <i class="bi bi-gender-female" style="color:DeepPink"></i>
                        {% else %}
                            <i class="bi bi-gender-male" style="color:DodgerBlue"></i>
                        {% endif %}
                    </td>
                    <td>{{task.dcm_file.age|floatformat}}</td>
                    <td>{% if task.dcm_file.Study_Date %}
                            {{task.dcm_file.Study_Date|date:"Y-n-j"}}
                        {% else %}
                           未知
                        {% endif %}
                    </td>
                    <td>{{task.allocated_datetime|date:"Y-n-j H:i"}}</td>
                    <td>
                        {% if task.history > 0 %}
                            <a href="#" class="bi bi-clock-history" style="font-size:1.2rem">：{{task.history}}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
{% include 'BoneAge/index/paginater.html' %}