<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,,user-scalable=no">
    <title>{% block title %}{% endblock %}｜重医信息学院智慧医疗平台</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/CQMU_logos/favicon-grayscale.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/CQMU_logos/favicon-grayscale.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/CQMU_logos/favicon-grayscale.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_theme.css' %}">
    <!--额外css导入区-->
    {% block css %}
    {% endblock %}
    <!--额外/css导入区-->
</head>
<body class="bg-light">
    <!--正文区-->

    <!-- 导航栏 -->
    {% include "headbar.html" %}

    {% block content %}
    {% endblock %}
    <!--/正文区-->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/popover.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script>
        var popoverTriggerList = Array.prototype.slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
    <!--额外JS导入区-->
    {% block js %}
    {% endblock %}
    <!--/额外JS导入区-->
</body>
</html>