{% extends 'base.html' %}

{% block title %}{% block title_PatientManagement %}{% endblock title_PatientManagement %}｜患者管理{% endblock title %}

{% block css %}
{% block css_PatientManagement %}{% endblock css_PatientManagement %}
{% endblock css %}

{% block nav_PatientManagement %}active{% endblock nav_PatientManagement %}

{% block content %}
{% block content_PatientManagement %}{% endblock content_PatientManagement %}
{% endblock content %}

{% block js %}
{% block js_PatientManagement %}{% endblock js_PatientManagement %}
{% endblock js %}