{% extends 'BoneAge/base.html' %}

{% block title_BoneAge %}管理后台{% endblock title_BoneAge %}

{% block nav_BoneAge_index %}active{% endblock nav_BoneAge_index %}

{% block css_BoneAge %}
<style>
    #unallocated_dcms input:disabled{ opacity: 1 !important;}
</style>
{% endblock css_BoneAge %}

{% block content_BoneAge %}
{% load static %}

{% if error_dcm_count > 0 %}
<div class="alert alert-warning d-flex justify-content-between" role="alert">
    <span>存在 {{error_dcm_count}} 个待处理错误报告，<a id="analyze" href="#">点击此处处理</a></span>
    <a data-bs-toggle="offcanvas" href="#account_settings">个人设置 <i class="bi bi-gear"></i></a>
</div>
{% else %}
<div class="alert alert-success d-flex justify-content-between" role="alert">
    <span>所有任务正常运行中。</span>
    <a data-bs-toggle="offcanvas" href="#account_settings">个人设置 <i class="bi bi-gear"></i></a>
</div>
{% endif %}

<div class="row mt-3">
    <!-- 系统配置区 -->
    <div class="col-4 border-end">{% include 'BoneAge/index/admin/system_configuration.html' %}</div>
    <!-- 任务分配区 -->
    <div class="col-8">{% include 'BoneAge/index/admin/task_allocation.html' %}</div>
</div>

<!-- 个人设置侧边栏 -->
{% include 'BoneAge/index/admin/account_settings.html' %}
<!-- 分配提交成功弹窗 -->
{% include 'BoneAge/index/admin/task_allocated.html' %}

{% endblock content_BoneAge %}

{% block js_BoneAge %}
<script src="{% static 'BoneAge/js/admin/admin.js' %}"></script>
<script>
    var url_api_allocate_tasks = "{% url 'api_BoneAge_allocate_tasks' %}"
</script>
{% endblock js_BoneAge %}