<h2 class="text-center">任务处理</h2>
{% if unallocated_dcm %}
    <div class="row d-flex">    
        <div class="col-12 operation">
            <div class="input-group">
                <select name="operation" id="operation" class="form-select">
                    <option value="allocate" selected>分配</option>
                    <option value="delete">删除</option>
                </select>
                <span class="input-group-text">
                    <span class="text-primary mx-1" id="selected_dcm_count">0</span>
                    / {{unallocated_dcm|length}} 个任务
                </span>
                <div class="input-group-text allocate_choice">
                    以
                    <input class="form-check-input mt-0 ms-3 standard_select" type="checkbox" value="CHN" id="check_CHN_standard" checked>
                    <label class="form-check-label ms-1" for="check_CHN_standard">
                        CHN标准
                    </label>
                    <input class="form-check-input mt-0 ms-3 standard_select" type="checkbox" value="RUS" id="check_RUS_standard">
                    <label class="form-check-label ms-1" for="check_RUS_standard">
                        RUS-CHN标准
                    </label>
                    <span class="ms-3">给</span>
                </div>
                <select name="allocated_to" id="allocated_to" class="form-select allocate_choice">
                    {% for evaluator in evaluators %}
                        <option value="{{evaluator.id}}">
                            {% if evaluator.last_name or evaluator.first_name %}
                                {{evaluator.last_name}}{{evaluator.first_name}}
                            {% else %}
                                id {{evaluator.id}}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
                <span class="input-group-text allocate_choice">
                    置信度（%） 
                    <i class="ms-1 bi bi-question-circle-fill text-primary"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    title="自动识别结果低于置信度时将标记为错误（非手骨）图像"></i>
                </span>
                <input class="form-control allocate_choice" type="number" value="75" min=50 max=100 step=5 id="confidence"
                onchange="value=value.replace(/[^\d]/g, '');if(value<=50) value=50; if(value>=100) value=100;">
                <button class="btn btn-outline-primary" id="submit">提交</button>
            </div>
        </div>
    </div>
    <table class="table table-hover mt-3" id="unallocated_dcms">
        <thead>
            <tr>
                <th><div class="form-check" id="select_all">
                    <input class="form-check-input" type="checkbox" id="select_all_checkbox" value="select_all_checkbox" disabled>
                    <span>影像ID</span>
                </div></th>
                <th>患者姓名（ID）</th>
                <th>检查日期</th>
                <th>预览图</th>
            </tr>
        </thead>
        <tbody>
            {% for dcm in unallocated_dcm %}
                <tr id="info_{{dcm.id}}">
                    <td class="align-middle">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="allocate_{{dcm.id}}" value="{{dcm.id}}" disabled>
                            <span>
                                {{dcm.base_dcm.id}}
                                {% if dcm.error != 0 %}
                                （<span class="text-danger">错误：{{dcm.get_error_display}}</span>）
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td class="align-middle">{{dcm.base_dcm.patient.name}}（{{dcm.base_dcm.patient.Patient_ID}}）</td>
                    {% if dcm.base_dcm.Study_Date %}
                        <td class="align-middle">{{dcm.base_dcm.Study_Date}}</td>
                    {% else %}
                        <td class="align-middle"><span class="text-danger">读取失败</span></td>
                    {% endif %}
                    <td class="align-middle" style="width:15%">
                        <img src="{{MEDIA_URL}}{{dcm.base_dcm.dcm_to_image}}" class="img-fluid" loading="lazy">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    暂无待分配任务。
{% endif %}
<span class="bi bi-arrow-up-circle-fill text-primary" id="back_to_top" style="font-size:3.5rem"></span>